# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Celery
celerybeat-schedule
*.pid

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
postgres-data/
